// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
@boldletters: Black;
@titleletters: red; 

.smallheader{
	color: black;
	text-align: center;
	font-style: italic;
	text-decoration-line: underline;
}
.fontfamily{
	margin-top: 1rem;
    
    padding: 5px;
	font-family: cursive;
	


}
.historytext{
	font-size: larger;
    text-align: center;
}
.titletext{
	color: @titleletters;
	text-decoration: underline;
	font-size: larger;
	display: flex;
	margin-top:.5rem;
	margin-bottom:.5rem; 
	
} 

.QL{
	@media (max-width: 500px){
		display:none; 
	}
}
.container{
	width:800px;
	margin:50px auto; 
	@media (max-width: 500px){
	width: 100%; 
	padding: 20px; 	
	}
	header{
		justify-content: space-between;
		display: flex;
		@media (max-width: 500px){
			justify-content: center; 
			flex-direction: column-reverse; 
		}

		
		.title{
			font-size: large;
			@media (max-width: 500px){
				
				text-align: center;
			}

		}
		
	
	}
}
.QL1{
	
	display:none; 
	@media (max-width: 500px){
		display: flex; 
		width:50%; 
		height:50%; 
		justify-content: center; 
		margin-left: 25%;
		margin-top: 3%;
	}
}
nav{
	@media (max-width: 500px){
		flex-direction: column; 
		text-align: center; 
		justify-content: space-evenly; 
		margin-bottom:1rem; 
	}
	a{
		text-decoration: none;
		color:black;
		margin-left:1rem; 
		@media (max-width: 500px){
			flex-direction: column; 
			margin-left: 1.5rem;
			margin-right: 1.5rem;
			margin-bottom: 0rem

		}
	}
}
.AboutSkills{
	.About-Me{
		display: flex;
		flex-direction: column;

		h2{
			@media (max-width: 500px){
				justify-content: center;
				margin-top:1rem; 
				margin-bottom:0rem; 
			}
			.titletext(); 
		}

	}
}

.About-Me p{
	@media (max-width: 500px){
		margin-top: 0.3rem; }
	.fontfamily();
	border: red solid;
}

.About-Me .Ism{
	@media (max-width: 500px){
		display:none; 
	}
}
.Skills1{
	display:flex; 
	justify-content: space-around;
	.skills{
		h2{
			.titletext();
			@media (max-width: 500px){
				margin-left: 4rem; }
		}
	}
}

.Skills1{
	display:flex; 
	justify-content: space-around;
	.History-section{
		h2{
			.titletext();
			margin-top:.5rem;
			margin-bottom:.5rem; 
			justify-content: center;
			@media (max-width: 500px){
				text-align: center; }
		}
	}
}

.skills{
	ul{
		li{
			.fontfamily();
		}
	}
}
.Skills1{
	display:flex; 
	justify-content: space-around;
	.History-section{
		h3{
			.smallheader();
			
		}
	}
}
.Skills1{
	display:flex; 
	justify-content: space-around;
	.History-section{
		h4{
			.historytext();
			margin-top:.5rem; 
		}
	}
}
.Contact-section{
	@media (max-width: 500px){
		text-align: center; }
}